<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勇仔会计智能管理系统</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/content/css/bootstrap.min.css">
    <link href="/content/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/content/css/default.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/content/css/font-awesome.min.css">
    <!-- Avivo CSS -->
    <link rel="stylesheet" href="/content/assets/css/theme.css" />
    <link rel="stylesheet" href="/content/assets/css/avivo.css" />
    <link rel="stylesheet" id="theme" href="/content/assets/css/themes/start.css" />
</head>
<body>
<header class="htmleaf-header">
    <h1>勇仔会计智能管理系统<span>A Simple and easy desktop</span></h1>
    <div class="htmleaf-links">
        <a class="htmleaf-icon icon-htmleaf-home-outline" href="javascript:void(0)" title="智能管理之家" target="_blank"><span> 智能管理之家</span></a>
        <a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="javascript:void(0)" title="智能管理之家" target="_blank"><span> 智能管理之家</span></a>
    </div>
</header>
<div class="content">
    <div class="col-desktop">
        <div class="app-icon blue">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
        <div class="app-icon blue">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
        <div class="app-icon blue">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
        <div class="app-icon blue">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
    </div>
    <div class="col-desktop">
        <div class="app-icon green">
            <a href="#">
                <i class="fa fa-clock-o"></i>Time
            </a>
        </div>
        <div class="app-icon green">
            <a href="#">
                <i class="fa fa-clock-o"></i>Time
            </a>
        </div>
    </div>
    <div class="col-desktop">
        <div class="app-icon red">
            <a href="#">
                <i class="fa fa-users"></i>Users
            </a>
        </div>
        <div class="app-icon red">
            <a href="#">
                <i class="fa fa-users"></i>Users
            </a>
        </div>
        <div class="app-icon red">
            <a href="#">
                <i class="fa fa-users"></i>Users
            </a>
        </div>
    </div>
    <div class="col-desktop">
        <div class="app-icon orange">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
        <div class="app-icon orange">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
    </div>
    <div class="col-desktop">
        <div class="app-icon pink">
            <a href="#">
                <i class="fa fa-cogs"></i>Settings
            </a>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="/content/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/content/js/jquery-ui.min.js"></script>
<script src="/content/js/bootstrap.min.js"></script>
<script src="/content/assets/js/jquery.cookie.js"></script>
<script src="/content/assets/js/jquery.fullscreen.js"></script>
<script src="/content/assets/js/clock.js"></script>
<script src="/content/assets/js/desktop.js"></script>
</body>
</html>